* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.--app-wrapper {
  justify-content: center;
  align-items: center;

  display: flex;

  width: 100vw;
  padding-block: 88px;

  background-color: rgba(242, 242, 242, 100%);

  .--app-card {
    width: 327px;
  }
}

@media only screen and (min-width: 958px) {
  .--app-wrapper {
    height: 100vh;

    .--app-card {
      flex-direction: row;
      align-items: center;
      justify-content: center;

      display: flex;

      width: 920px;
    }
  }
}
